body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    border-right: 2px solid #BB86FC;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(22) forwards, blink 1s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 12em; } /* Adjust according to your name length */
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: #BB86FC; }
}
