/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-text p {
    color: #ff0000; /* Красный цвет текста */
}

.styled-text p:hover {
    text-decoration: underline; /* Подчеркивание текста при наведении */
}

h1 {
    color: #007bff;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
